<!DOCTYPE html>
html(lang="en")

    head
        include partials/header
        
    body
        header 
            nav.navbar.navbar-light.bg-light
                a.navbar-brand(href="#")
                    img(src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="")
                    
                h2 Administrador de Proyectos Dsi 
                    p.h3=usuario.email
        //.container
            .row
                .col-lg-4.col-sm-4
                    .card-box.bg-blue
                        .inner
                            p
                        .icon
                            i.fas.fa-plus-square
                        a.h3.card-box-footer(href="/nuevo-proyecto") Nuevo Proyecto
                            i.fa.fa-arrow-circle-right

                .col-lg-4.col-sm-4
                    .card-box.bg-green
                        .inner
                            p 
                        .icon
                            i.fas.fa-tasks
                        a.h3.card-box-footer(href="/proyectos-all") Todos los proyectos
                            i.fa.fa-arrow-circle-right

                
                .col-lg-4.col-sm-4
                    .card-box.bg-red
                        .inner
                            p
                        .icon
                            i.fas.fa-user-times
                        a.h3.card-box-footer(href="/cerrar-sesion") Cerrar sesion
                            i.fa.fa-arrow-circle-right

               
                //.col-lg-4.col-sm-4
                    .card-box.bg-red
                        .inner
                            p nuevo boton
                        .icon
                            i.fas.fa-user-times
                        a.card-box-footer(href="/cargar-usuarios") btnn 
                            i.fa.fa-arrow-circle-right

            
        .container
            form.border.p-3.form(action="#")
                h1.text-center Todos los Proyectos
                #proyectos.proyectos
                    if(proyectos.length)
                        each proyecto in proyectos
                            .container
                                li.list-group-item.text-center
                                    a.h2(href=`/proyectosempleados/${proyecto.url}`)=proyecto.nombre 
                                    p.h4=proyecto.responsable
                                    p.h3=proyecto.fecha
                                    p=proyecto.fechaInicio
                                    p=proyecto.fechaFinal
                                    //.avance
                                        .progress
                                            .progress-bar.progress-bar-striped.bg-success(role="progressbar" )           
                                                #porcentaje.porcentaje
                block contenido

            
                //- pre= vardump(proyectos) 
            script(src="/dist/bunde.js")


            

            block contenido2