extends layoutE
block contenido
    .jumbotron.jumbotron-fluid
        h3.container Proyecto - #{proyecto.nombre} 
        h3.container Responsable - #{proyecto.responsable}
        //form.form-inline(action=`/proyectos/${proyecto.url}` method="POST")
            .form-group.mx-sm-3.mb-2
            .container
                label(for="tarea")
                    input.form-control.form-control-lg(type="text", name="tarea" placeholder='Nombre Tarea')
                label(for="")
                    input.btn.btn-primary.btn-lg.m-3.p-2(type='submit' value='Agregar')

        
    .listado-pendientes
        ul.list-group
            if tareas.length
                // tarea yo lo defino tareas esta en el controlador
                each tarea in tareas
                    li.tarea.list-group-item.d-flex.justify-content-between.align-items-center(data-tarea=tarea.id)
                        p.h4=tarea.tarea
                            .acciones  
                                if tarea.estado
                                    i.far.fa-check-circle.completo.m-3
                                else
                                    i.far.fa-check-circle.m-3
                                //i.fas.fa-trash
            else
                p.alert.alert-warning No hay tareas en este proyecto

        //avance del proyecto

        br
        br
    .avance
        h4 Avance del proyecto
        .progress
            .progress-bar.progress-bar-striped.bg-success(role="progressbar" )           
            #porcentaje.porcentaje
        
        //parametro ? tareas ? proyecto
            h3 seccion de desarrollo jsons
            pre=vardump(tareas) 
        
        //ACCIONES no disponible en vistas para empleado
        //.container
            .row
                .col-6
                    a.btn.btn-warning.btn-lg.m-4( type="button" href=`/proyecto/editar/${proyecto.id}`) Editar Proyecto
                .col-6
                    button.btn.btn-danger.btn-lg.m-4#eliminar-proyecto(data-proyecto-url=proyecto.url type="button" ) Eliminar Proyecto
        