mixin crearProyecto(proyecto = {})
    form.agregar-proyecto(action=`/nuevo-proyecto/${proyecto.id || ''}` method="POST")
        .jumbotron
            .form-group
                input.form-control.form-control-lg(value=proyecto.nombre type="text" id="nombre" name="nombre" placeholder="Nombre Proyecto")
            
            .form-group
                input.form-control.form-control-lg(value=proyecto.responsable type='text', name="responsable" id='responsable' placeholder='Nombre responsable') 
                
            .row
                .col
                    .form-group
                        input.form-control.form-control-lg(value=proyecto.fechaInicio type='date', name="fechaInicio" id='fechaInicio') 
                .col
                    .form-group
                        input.form-control.form-control-lg(value=proyecto.fechaFinal type='date', name="fechaFinal" id='fechaFinal') 


            .campo.enviar
                button.btn.btn-success.btn-lg.btn-block(type="submit" value=`${proyecto.responsable ? 'Guardar' : 'Agregar'}`) agregar
            p#demo={obj} 

        